<div class="wrapper">
  <h1>My To Do List</h1>
  

  <mat-form-field appearance="fill">
    <mat-label>Digite a tarefa</mat-label>
    <input 
    type="text" 
    matInput placeholder="tarefa"
    #inpt
    (keyup.enter)="salvarNoLocalStorage(inpt.value)"
    >  
  </mat-form-field>
 <app-button
    (eventoButton)="salvarNoLocalStorage(inpt.value)"
    >
    </app-button>
  <li
  *ngFor="let dado of dadoLocalStorage; let i= index" 
  >
   <button mat-raised-button color="warn" (click)= "deletarDoLocalStorage(i)"
    style= "cursor: pointer;">-</button>
    <div class="example-label"></div>
    <b>{{dado}}</b>
  </li>
</div> 